/*
  sass extend
  @extend
*/

.block{
  font-size: 12px;
  border: 1px solid red;
}


.wrappper{
  .nav{
    @extend .block;
  }
  .content{
    @extend .block;
    &:hover{
      background-color: green;
    }
  }
}

/*转化完css效果*/
/*
  .block,
  .wrappper .nav, .wrappper .content {
    font-size: 12px;
    border: 1px solid red;
  }

  .wrappper .content:hover {
    background-color: green;
  }


*/